.header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 2rem;

  &-container {
    border-bottom: 1px solid;
    border-color: rgb(148 163 184);
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: inline-block;
  }
  

  &-title-container {
    display: block;
  }

  &-title {
    cursor: pointer;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}