.header {
	display: block;
	// margin: 0 3vw;
	background-color: #cfc1ac;

	&--top {
		text-align: center;
		margin-bottom: 30px;
	}

	&--logo {
		height: auto;
		width: 12vw;
		cursor: pointer;
	}

	&--nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0.5rem;
		font-size: 1.2rem;
		border-top: 1px solid $dark;
		border-bottom: 1px solid $dark;
		overflow-y: scroll;
		scrollbar-width: none; /* Firefox *
		-ms-overflow-style: none; /* Internet Explorer 10+ */

		background-color: $background-dark;
		// background: linear-gradient(
		// 	to right,
		// 	$background 0%,
		// 	$background-dark 4%,
		// 	$background-dark 96%,
		// 	$background 100%
		// );

		@include respond-tablet-portait {
			justify-content: space-between;
		}

		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}

		&--button {
			cursor: pointer;
			border-bottom: 1px solid transparent;

			@include respond-tablet-portait {
				margin: 0 10px;
			}

			&:hover {
				color: $primary;
				border-bottom: 1px solid $secondary;
				font-weight: 600;
			}
		}
	}
}

.header {
	.fixedBar {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		z-index: 2;
		border-top: 1px solid $dark;
		border-bottom: 1px solid $dark;
		// background: linear-gradient(
		// 	to right,
		// 	$background 0%,
		// 	$background-dark 4%,
		// 	$background-dark 96%,
		// 	$background 100%
		// );
		background-color: $background-dark;
		opacity: 0;
		height: 35px;
		transition: opacity 0.2s ease-in;

		&--content {
			position: relative;
			margin: 0 3vw;
			display: block;

			.miniLogo {
				position: absolute;
				left: 0;
				img {
					height: 30px;
					width: auto;
				}
			}

			.rubriques {
				margin-left: 50px;
				display: flex;
				justify-content: space-around;
				padding: 3px;

				font-size: 1.2rem;
			}
		}
	}
}
