@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	background-color: $background;
	color: #404040;
}

a {
	text-decoration: none;
	color: unset;
}

.homeContainer {
	@include respond-tablet-portait {
		margin: 45px 0 0 0;
	}
}

.app_container {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.app__flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app__wrapper {
	flex: 1;
	width: 100%;
	flex-direction: column;
	padding: 2rem 5rem;

	@include respond-tablet-portait {
		padding: 4rem 2rem;
	}
}

.base-text {
	font-weight: 400;
}

.title {
	font-weight: 700;
	text-transform: uppercase;
}

.menu {
	font-weight: 600;
	font-size: 0.9rem;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}