// COLORS
$primary: #09983b;
$secondary: #92c452;
$tertiary: #e9efc0;
$background: #fff8ee;
$background-dark: #b8a68b;
$dark: #131212;
$light: #F3F2F4;

// ANIMATION MANAGER

// MEDIA QUERY MANAGER
/*
0 - 600px : phone
600 - 900px : tablet portait
900 - 1200px: tablet landscape
1200 - 1800px: desktop (default)
1800+px: big desktop
*/

@mixin respond-phone {
	@media (max-width: 540px) {
		@content;
	}
}
	
@mixin respond-tablet-portait {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin respond-tablet {
	@media (max-width: 600px) {
		@content;
	}
}
