// COLORS
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: rgb(162, 162, 246);
$background: rgb(244, 244, 255);

// SPACING
$spacing-md: 1rem;
$spacing-lg: 2rem;

// BORDER
$borderRadius: 0.75rem;

// HEADER
$headerHeight: 6.25rem;

@mixin breakpoint($point) {
	@if ($point == md) {
		@media (min-width: 768px) {
			@content;
		}
	}
}
