// COLORS
$dark: rgb(29, 29, 29);
$primary: #09983b;
$secondary: #92c452;
// $tertiary: #e9efc0;
$tertiary: #92c452;
$background: #e2dbd0;
$background-dark: #b8a68b;

// ANIMATION MANAGER

// MEDIA QUERY MANAGER
/*
0 - 600px : phone
600 - 900px : tablet portait
900 - 1200px: tablet landscape
1200 - 1800px: desktop (default)
1800+px: big desktop
*/

@mixin respond-phone {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin respond-tablet-portait {
	@media (max-width: 900px) {
		@content;
	}
}
